<!DOCTYPE html>
<html ng-app='gold'>
    <head>
        <link rel="stylesheet" href="main.css" type="text/css" />
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.4/angular.js"></script>
        <script type="text/javascript" src="main.js"></script>
    </head>
    <body ng-controller="eureka">
        <div class="container"  ng-click='drop()'>
            <img src="https://github.com/RefactorU/exercise-starters/blob/master/client-js/gold-rush/topo-co.jpg?raw=true">
        </div>            
        <div ng-repeat = "pin in pins" ng-click='removePin()'>
            <div class='pin' style="top:{{pin.y-0.5}}vh; left: {{pin.x-1}}vw;"></div>
        </div>
    </body>
</html>
