.container {
    /*background-image: url(https://github.com/RefactorU/exercise-starters/blob/master/client-js/gold-rush/topo-co.jpg?raw=true);*/
    width: 100vw;
    height: 100vh;
    position: relative;
}

.pin {
    height: 10px;
    width: 10px;
    border-radius: 100%;
    background-color: red;
    position: absolute;
    visibility: visible;
}

img {
    width: 1500px;
}